# ライブラリの利用

データ分析で必要となるライブラリNumPy,pandasの基礎理解を目的としています。

### 学籍番号、氏名を入力せよ

- 学籍番号：
- 氏名:

---



## 1.NumPyとは

データ分析を行う場合、ベクトルや行列の演算を繰り返し行う必要があります。Pythonにはリストというデータ構造がありますが、リストを用いた計算では時間・コストがかかります。そこでNumerical Python (NumPy)をインポートすることでndarrayという配列オブジェクトを使用することができ、コードの高速化や省メモリ化ができます。NumPyは数値計算を高速に行うためのオープンソースのライブラリです。ndarrayの配列は数学的にベクトルや行列を表しており、行列を大量の数値データを持つ1つの変数として扱う事ができます。

numpyを使うことで、配列同士を計算したり処理することで、一度に多くの計算が可能です。また、配列内の要素には整数や浮動小数点数だけでなく、真偽値や文字列なども格納することができます。

そして、scikit-learn、scipy、pandas、tensorflowといったデータ分析では主流のパッケージはNumpyが提供する機能を基に作られており、その特徴の多くを共有しています。したがって、NumPyを理解することができれば、NumPyが基になっているパッケージの学習がスムーズになります。

### NumPyのインポート

ライブラリの読み込み方にはimportを用いたライブラリの読み込み方と、fromとimportを用いた読み込み方の2種類が存在します。

ライブラリを一括で読み込む際にはimport,ライブラリの中の一部のモジュールを読み込む際にはfromとimportを用います。

    import ライブラリ名

    from ライブラリ名　import モジュール名

ライブラリを読み込み際の末尾にasを付けることで、ライブラリやモジュールに対して別名を与えることができます。使用するライブラリ名やモジュール名が長すぎる場合や短縮名で呼び出したい時に用います。

具体的には以下のようにimportの後にライブラリ名を指定するとライブラリが使えるようになります。

    import numpy



また、numpyはnpと省略して、以下のように記述してnumpyをインポートするのがならわしです。

    import numpy as np


すると、sinという関数は

    numpy.sin(1)

の代わりに

    np.sin(1)

と短縮して書くことができます。    

また、演習率は

   np.pi

に記憶されています。

### 問題1

    (1)numpyをnpと省略してインポートしてみましょう。
    (2)np.sin(np.pi/2)を計算してみましょう。

In [1]:
#問題1
# (1)numpyをnpという名前でインポート
import numpy as np
#(2) np.sin(np.pi/2)の計算し表示せよ
print(np.sin(np.pi/2))

1.0

### 補足

numpyをnpとしてインポートしたように、ライブラリにつける名前にはライブラリ名を省略した名前をつけるのが慣例になっています。

### 簡単なNumPyの使い方

実際にNumPyを使用して配列を作成してみましょう。
NumPy配列は下記のように入力することで作成することができます。

    numpy.array(オブジェクト)

例えば10,20の2個の値からなる配列[10 20]を作成する場合、下記のように記述します。


    np.array([10,20])

In [2]:
import numpy as np
np.array([10,20])

array([10, 20])

オブジェクトに2次元のリスト(リストのリスト)を用いれば、先ほどの[10 20]を縦に2つ並べた2×2の配列を作成することができます。

$$
\left(
\begin{array}{cc}
10 & 20 \\
10 & 20
\end{array}
\right)
$$


この場合、下記のように記述します。

    np.array([[10,20],[10,20]])

また、例えば上記の2×2の配列の形状は(2,2)のように表現されます。
このように配列の形状はタプルで表現されることも併せて覚えておくと良いでしょう。

In [3]:
np.array([[10,20],[10,20]])

array([[10, 20],
       [10, 20]])


### 問題2

    (1)配列[1 2 3]をarr1という名前で作成してみましょう。
    (2)形状が(2,3)の配列[[1 2 3][4 5 6]]をarr2という名前で作成してみましょう。
    (3)arr1,arr2を表示しましょう。
    (4)arr1,arr2の型を表示しましょう。

In [1]:
#問題2
# numpyのインポート
import numpy as np
# (1)numpy配列の定義
arr1 = np.array([1,2,3])
# (2)numpy配列の定義
arr2 = np.array([[1,2,3],[4,5,6]])
# (3)配列の出力
print(arr1)
print(arr2)
# (4)データ型の表示
print(type(arr2))
print(type(arr1))

[1 2 3]
[[1 2 3]
 [4 5 6]]
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

#### 補足

- type関数によってndarray型であることを確認する事ができます。出力結果が[1 2 3]となっており[1,2,3]のリスト型とは異なる点に注意してください。

- 多次元配列ではオブジェクトにリストのリストを用意する事で、リストの次元数に応じた配列を表現する事ができます。

## 2. 配列の計算

### 四則演算

配列同士で成分ごとに四則演算するためには、NumPyの関数を使用する方法と演算子を使用する方法の二つがあります。


加算には次の書き方があります。

    numpy.add(配列1, 配列2)
    配列1 + 配列2

減算には次の書き方があります。

    numpy.subtract(配列1, 配列2)
    配列1 - 配列2

乗算には次の書き方があります。

    numpy.multiply(配列1, 配列2)
    配列1 * 配列2

除算には次の書き方があります。

    numpy.divide(配列1, 配列2)
    配列1 / 配列2


### 問題3
    arr1,arr2に配列が歳入されています。
    (1)配列arr1と配列arr2の加算をして表示しましょう。+とadd()を使ってみましょう。
    (2)配列arr1と配列arr2の減算をして表示しましょう。-とsubtract()を使ってみましょう。
    (3)配列arr1と配列arr2の乗算をして表示しましょう。
    (4)配列arr1と配列arr2の除算をして表示しましょう。

In [5]:
#問題3
# numpyのインポート
import numpy as np
# numpy配列の定義
arr1 = np.array([100,200,300])
arr2 = np.array([30,40,50])
# (1)配列の加算
print(arr1 + arr2)
print(np.add(arr1, arr2)) # np.add(arr1,arr2)を使う
# (2)配列の減算
print(arr1 - arr2)
print(np.subtract(arr1, arr2)) # np.subtract(arr1,arr2)を使う
# (3)配列の乗算
print(arr1 * arr2)
# (4)配列の除算
print(arr1 / arr2)

[130 240 350]
[130 240 350]
[ 70 160 250]
[ 70 160 250]
[ 3000  8000 15000]
[3.33333333 5.         6.        ]


### ヒント

- 配列同士の計算には関数か演算子を使用しましょう。

- 関数を使用する場合はnumpy.関数(配列1, 配列2)のように記述します。

- 演算子を使用する場合は配列1 演算子 配列2のように記述します。

## 指数関数と対数関数

NumPyには数値計算用の便利なモジュールがたくさんあります。

はじめに指数関数と対数関数のモジュールを使用してみましょう。

指数関数は下記のように記述することで使用することができます。

    numpy.exp(数値)

引数に数値を代入することでネイピア数(自然対数の底)であるe(≒2.7)の数値乗を計算することができます。

引数に配列を代入した場合、配列の各要素に対してeの各要素の値乗を計算し、結果を格納した配列を出力します。

ネイピア数eはnp.eで表すことができるため、下記の二つの式は同じ意味になります。

    np.exp(2) # eの2乗
    np.e** 2  # eの2乗

In [6]:
print(np.exp(2)) # e^2の計算
print(np.e**2)   #　e*eの計算

7.38905609893065
7.3890560989306495



また、対数関数は下記のように記述することで使用することができます。

    np.log(数値)

log関数は底がeである場合の数値の対数(自然対数)を算出します。

引数に配列を代入した場合、配列の各要素に対して対数を計算し、結果を格納した配列を出力します。

2が底の対数関数(二進対数)はnp.log2(数値)、10が底の対数関数(常用対数)はnp.log10(数値)で呼び出すことができます。

下記は全て1を出力します。

    np.log(np.e) # eが底の対数関数
    np.log2(2) # 2が底の対数関数
    np.log10(10) # 10が底の対数関数

In [7]:
print(np.log(np.e)) # eが底の対数関数
print(np.log2(2)) # 2が底の対数関数
print(np.log10(10)) # 10が底の対数関数

1.0
1.0
1.0

### 問題4

    (1)ネイピア数eの累乗を計算してみましょう。
    [0.01, 1, np.e]の要素を持つ配列arrの各要素を引数として計算をして表示しましょう。
    (2)配列[0.01, 1, np.e]の自然対数を計算して表示しましょう。

In [9]:
#問題4
# numpyのインポート
import numpy as np
# numpy配列の定義
arr = np.array([0.01,1,np.e])
# (1)指数関数
print(np.exp(arr))
# (2)対数関数
print(np.log(arr))

[ 1.01005017  2.71828183 15.15426224]
[-4.60517019  0.          1.        ]


### ヒント

- numpy.exp(数値)と記述することでネイピア数の累乗を算出することができます。引数には配列arrを代入してみましょう。

- numpy.log(数値)と記述することでネイピア数を底とする対数を算出することができます。引数には配列arrを代入してみましょう。

#### 補足

-  自然対数はlog関数、二進対数はlog2関数、常用対数はlog10関数で使用することができます。問題に応じて使い分けましょう。

### 三角関数(sin, cos, tan)

NumPyを使用して正弦関数(sin)、余弦関数(cos)、正接関数(tan)を算出することができます。これらはそれぞれ下記のように記述することで求めることができます。

    numpy.sin(数値)
    numpy.cos(数値)
    numpy.tan(数値)

数値には角度ではなく、ラジアンを指定する必要があります。例えば、180°を表すπ
はnumpy.piで使用することができます。
下記のように記述することでsin(π)、cos(π)、tan(π)を算出することができます。

    import numpy as np
    np.sin(np.pi)　# sin(π)の算出
    np.cos(np.pi)　# cos(π)の算出
    np.tan(np.pi)　# tan(π)の算出

In [11]:
print(np.sin(np.pi))
print(np.cos(np.pi))
print(np.tan(np.pi))

1.2246467991473532e-16
-1.0
-1.2246467991473532e-16

また、引数として配列を代入することで、結果をまとめて算出することができます。

In [12]:
#pi/4刻みの5個の値の配列arrを用意し、sin(arr)を計算
arr=np.array([0*np.pi/4,1*np.pi/4,2*np.pi/4,3*np.pi/4,4*np.pi/4])
np.sin(arr)

array([0.00000000e+00, 7.07106781e-01, 1.00000000e+00, 7.07106781e-01,
       1.22464680e-16])


### 問題5

   配列arrの各要素の値のsin,cos,tanの値を算出してみましょう。

In [71]:
#問題5
# numpyのインポート
import numpy as np
# 区間[0,2π]の刻み幅(π/4)の等差数列の配列arrを作成します。
arr = (np.pi)*np.array([0,1/4,2/4,3/4,4/4,5/4,6/4,7/4,8/4])
# sinの計算結果を表示
print(np.sin(arr))
# cosの計算結果を表示
print(np.cos(arr))
# tanの計算結果を表示
print(np.tan(arr))

[ 0.00000000e+00  7.07106781e-01  1.00000000e+00  7.07106781e-01
  1.22464680e-16 -7.07106781e-01 -1.00000000e+00 -7.07106781e-01
 -2.44929360e-16]
[ 1.00000000e+00  7.07106781e-01  6.12323400e-17 -7.07106781e-01
 -1.00000000e+00 -7.07106781e-01 -1.83697020e-16  7.07106781e-01
  1.00000000e+00]
[ 0.00000000e+00  1.00000000e+00  1.63312394e+16 -1.00000000e+00
 -1.22464680e-16  1.00000000e+00  5.44374645e+15 -1.00000000e+00
 -2.44929360e-16]


### ヒント

- np.sin(数値)と記述することで正弦関数の値を算出することができます。引数には配列arrを代入してみましょう。

- 余弦関数や正接関数はそれぞれnp.cos(数値)、np.tan(数値)と記述することで算出することができます。

- これらも引数として配列arrを代入してみましょう。

- 等差数列を用意するのにnumpyのlinscapce()関数やarange()関数を使います。

    linscapce(a,b,n)で区間[a,b]を(n-1)等分した等差数列の配列を計算します。

    np.arange(a,b,c)で区間[a,b]を幅cで分割した等差数列を計算します。

    後に解説します。

In [ ]:
# linspace(a,b,n)の利用
print(np.linspace(0,np.pi*2,9))
# arange(a,b,c)の利用。右端bを含むように0.001をbに足している。
print(np.arange(0,np.pi*2+0.001,np.pi/4))
print(arr)

### 平方根

NumPyには平方根を算出するモジュールもあります。
平方根を求めるためにはsqrt関数を使用して下記のように記述します。

    numpy.sqrt(数値)

例えば$\sqrt{2}$を出力したい時は下記のように記述します。

    import numpy as np
    np.sqrt(2)

引数として配列を代入することで、複数の値の平方根をまとめて算出することができます。

### 問題6

   配列arrの各要素の値の平方根を算出してみましょう。

In [13]:
#問題6
import numpy as np
arr = np.array([0,100,10000])
# 平方根の算出
print(np.sqrt(arr))

[  0.  10. 100.]

#### 補足

- 配列を代入してまとめて平方根を算出することで、高速な計算を行うことができます。

### 内積

ベクトル$\vec{A}=(A_1,\cdots,A_n)$と$\vec{B}=(B_1,\cdots,B_n)$
の内積は、次の式で計算できます。
$$
\vec{A}\cdot \vec{B}=\sum_{i=1}^{n}A_i B_i
$$

例えば二つの配列、

    A = (1,2,3)
    B = (4,5,6)

が与えられた時、内積はA⋅Bで表され、下記の式で算出されます。

    A1×B1+A2×B2+A3×B3


これは、

    1×4+2×5+3×6

であるため、32が結果として算出されます。

NumPyを使用して配列の内積を算出するためには、dot関数を使用して下記のように記述します。

    np.dot(配列1, 配列2)

上記のように記述することで二つの配列(配列1と配列2)の内積を算出することができます。

### 問題7

    配列arr1と配列arr2の内積を算出してみましょう。

In [14]:
#問題7
import numpy as np
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
# 内積の算出
print(np.dot(arr1,arr2))

32


### ヒント

・numpy.dot(配列1, 配列2)と記述することで配列1と配列2の内積を算出することができます。

#### 注意

- dot関数の引数として、要素数の異なる配列を代入するとエラーが起きてしまうため注意しましょう。

- 多次元配列に対してdot関数を使用する場合、内積ではなく行列積を算出することができます。

## 3. 配列生成

### 空の配列の作り方

はじめに、リストとNumPy配列の作り方の違いを確認しましょう。
空のリストを定義するとき、次のように記述しました。

    python_list = []

空のNumPy配列を定義するときは次のように記述します。

    import numpy as np
    numpy_array = np.empty(0)

empty()関数の引数に配列の長さや形状を入力することで、ランダムな要素を持つ任意のサイズの配列を定義することができます。
上記の例では引数を0と指定することで空の配列を定義しています。

引数に(2,3)のような形状を指定すると行列を表示させます。
要素にeを含む数が現れた時、e+011は「10の11乗」を表し、e-011は「10の−11乗」を表しています。
例えば、1.23e+011のような数は1.23と「10の11乗」と掛け算した123000000000を示しています。

### 問題8

    (1)空の配列numpy_arrayを作成しましょう。またprint関数の出力がどのようになるのか予想し実行してみましょう。
    (2)形状(2,3)の空の配列numpy_array1を作成し、表示してみましょう。

In [3]:
#問題8
# numpyのインポート
import numpy as np
#(1)空の配列
numpy_array = np.array([])
#numpy_arrayの表示とデータ型の表示
print(numpy_array)
print(type(numpy_array))
#(2)(2,3)の形状の空のnumpy配列を作成 np.empty((2,3))
numpy_array1 = np.empty((2,3))
# numpy_array1の表示とデータ型の表示
print(numpy_array1)
print(type(numpy_array1))

[]
<class 'numpy.ndarray'>
[[1.61324900e-307 3.56043053e-307 1.60219306e-306]
 [2.44763557e-307 1.69119330e-306 1.33514617e-307]]
<class 'numpy.ndarray'>



### 等差数列の配列を作る

numpyのarange()関数を使用して次のように記述することで一定間隔の配列を定義することができます。

    np.arange(開始値,終了値,間隔値)

また初期値として開始値には0、間隔値には1が代入されているため、 引数を省略することもできます。引数を省略した場合、作成される配列が下記のように異なることに注意してください。

    np.arange(終了値)のとき
        0 ≦ 配列 < 終了値 の範囲で間隔値1で配列を作成します。
    np.arange(開始値, 終了値)のとき
        開始値 ≦ 配列 < 終了値 の範囲で間隔値1で配列を作成します。
    np.arange(開始値, 終了値, 間隔値)のとき
        開始値 ≦ 配列 < 終了値 の範囲で指定した間隔値で配列を作成します。

例えば、開始値1、終了値10、間隔値2の配列は下記のように記述することで作成することができます。

In [17]:
import numpy as np
print(np.arange(1,10,2))

[1 3 5 7 9]

またlinspace()関数を使用して次のように記述することでも同じように配列を作成することができます。

    np.linspace(開始値,終了値,要素数)

初期値として要素数には50が代入されているため、下記のように開始値と終了値を入力すると長さ50の一定間隔の配列が生成されます。
下記の例では-25から24までの範囲で等間隔に数値を50個出力します。

In [18]:
import numpy as np
print(np.linspace(-25,24))

[-25. -24. -23. -22. -21. -20. -19. -18. -17. -16. -15. -14. -13. -12.
 -11. -10.  -9.  -8.  -7.  -6.  -5.  -4.  -3.  -2.  -1.   0.   1.   2.
   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.  15.  16.
  17.  18.  19.  20.  21.  22.  23.  24.]

注意しなければならない事として、arange()関数の終了値は配列には含まれませんが、linspace()関数の終了値は配列に含まれます。
またarange()関数は整数型の要素を、linspace（）関数は浮動小数点型の要素の配列を作成している点も注意してください。

### 問題9

    (1)arange関数を使用して、11から20まで1ずつ増えていくような配列を作成しましょう。
    (2)linspace関数を使用して11から20まで1ずつ増えていくような配列を作成しましょう。

In [19]:
#問題9
import numpy as np
#(1)配列の自動生成
arr1 = np.arange(11,21)
#(2))配列の自動生成
arr2 = np.linspace(11,20,10)
# arr1,arr2を表示
print(arr1)
print(arr2)

[11 12 13 14 15 16 17 18 19 20]
[11. 12. 13. 14. 15. 16. 17. 18. 19. 20.]


### ヒント

- arange()関数の終了値は配列には含まれませんが、linspace()関数の終了値は配列に含まれます。その為、arange()関数では終了値が21で間隔値が1

- linspace()関数では終了値が20で要素数は10となります。

#### 補足

この2つの関数は配列の自動生成では頻繁に使われる関数なので使い方をよく理解しておきましょう。

linspace関数により作成した配列は標準で小数型の配列を作成するため、「11.」などのように小数点がついています。



### 問題10

くり返しのfor文の復習も兼ねて、フィボナッチ数列$x_{0},x_{1},\cdots,x_{10}$を計算して配列fiboに代入してみましょう。

フィボナッチ数列は次の初期条件と漸化式で計算することが出来ます。

$$
x_{0}=x_{1}=1,x_{n}=x_{n-1}+x_{n-2},n\ge 2
$$

In [24]:
#問題10
#空の配列fiboを用意します。
fibo=np.empty(11)
# fibo[0],fibo[1]に1を代入します。
fibo[0]=1
fibo[1]=1
# forループを使ってfibo[2]からfibo[10]まで計算します
for i in range(2,11):
    fibo[i]=fibo[i-1]+fibo[i-2]
# fiboを出力します
print(fibo)

[ 1.  1.  2.  3.  5.  8. 13. 21. 34. 55. 89.]

# Pandas入門

データ解析で必要となるライブラリpandasの基礎理解を目的としています。

## 1 初めてのpandas

### pandasパッケージの読み込み

今回は、データ分析をしていく中で必要不可欠なライブラリであるpandasの扱い方を学んでいきましょう。

pandasの場合はpdという別名をつけることが通例になっています。

データ解析を行うとき、

    import pandas as pd　
    
は不可欠なおまじないとして覚えておきましょう。

### 問題11

    pandasをpdという名前で,numpyをnpという名前でインポートしましょう.

In [1]:
#問題11
# pandasをpdという名前でインポート
import pandas as pd
# numpyをnpという名前でインポート
import numpy as np
# 正しくインポートされていることを確認するためにバージョンを表示
print('Pandas version:', pd.__version__)
print('Numpy version:', np.__version__)

Pandas version: 1.2.2
Numpy version: 1.24.2

### データフレーム(DataFrame)とシリーズ(Series)

- pandasはデータフレーム(DataFrame)というデータ管理のための強力なクラスを持っています。

- データフレームは表形式の2次元データ（構造化データ）で、行と列で個々のデータの値が指定されます。

- DataFrameの特定の列のような1次元データをSeriesと呼びます。

- データフレームを作るには各列のデータをarrayとして、それを列方向に束ねる感じです。

- [1,2,3,4,5]というnumpyの１次元配列を作ります。

In [28]:
# pandas, numpy のimport
import pandas as pd
import numpy as np
# [1,2,3,4,5]という成分を持つnumpyの1次元配列を作ります。
sample_array1=np.array([1,2,3,4,5])
# sample_array1の各成分を2倍にした1次元配列を作ります。
sample_array2=sample_array1*2
# ["A","B","C","D","E"]の成分を持つnumpyの１次元配列を作ります。
sample_array3=np.array(["A","B","C","D","E"])
# 各配列を表示します
print(sample_array1)
print(sample_array2)
print(sample_array3)

[1 2 3 4 5]
[ 2  4  6  8 10]
['A' 'B' 'C' 'D' 'E']

いま作成した3つのarrayを、列名を"col1","col2","col3"としてDataFrameにしてみます。

データフレームは列の名称と列に格納するデータを辞書型で 

     {"col1":sample_array1,"col2":sample_array2,"col3":sample_array3}

とし、pd.DataFrame()関数でデータフレームにします。

numpyのarrayと異なり、データフレームは列が異なれば数値型と文字列型のデータを混在することができます。

In [29]:
# sample_array1,sample_array2,sample_array3を#col1","col2","col3"の列名でデータフレームsample_dfにします。
sample_df=pd.DataFrame({"col1":sample_array1,"col2":sample_array2,"col3":sample_array3})
# sample_dfを表示します
print(sample_df)
# sample_dfの型を表示します
type(sample_df)

   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C
3     4     8    D
4     5    10    E

pandas.core.frame.DataFrame

### 列に対するデータフレームの操作

データフレームの各列は

     sampple_df.col1

または、

     sample_df["col1"]


として取り出すことができます。各列の型ははSeries型です。

In [30]:
# sampple_df.col1として"col1"列を取り出して表示します
print(sample_df.col1)
#　sample_df["col1"]として"col1"列を取り出して表示します
print(sample_df["col1"])
#　"col1"列の型を表示します
print(type(sample_df.col1))

0    1
1    2
2    3
3    4
4    5
Name: col1, dtype: int64
0    1
1    2
2    3
3    4
4    5
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

複数の列を取り出す場合は、角括弧内にリスト形式で列名を複数指定します。

リストの角括弧と合わせて2重の角括弧になります。

In [31]:
#  sampple_dfの"col1"と"col2"列を取り出し表示します
print(sample_df[["col1","col2"]])

   col1  col2
0     1     2
1     2     4
2     3     6
3     4     8
4     5    10

特定の列をなくすにはdrop("列名",axis=1)とします。

In [32]:
# sample_dfから"col1"列を削除します
print(sample_df.drop("col1",axis=1))
# sample_dfを表示します
print(sample_df)

   col2 col3
0     2    A
1     4    B
2     6    C
3     8    D
4    10    E
   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C
3     4     8    D
4     5    10    E

Seriesはarrayと同様に扱えますが、arrayのほうが使いやすいこともあります。Seriesをarrayに変換する場合はnp.array()を使います。

In [33]:
# sample_dfの"col1"列をarrayに変換します。
np.array(sample_df.col1)

array([1, 2, 3, 4, 5])


### 問題12

    (1)１から10の整数列と"A"から"J"のアルファベットの文字列のarrayを作成せよ。
       それぞれの名前をarr1,arr2とする。
    (2)(1)で作成した2個のarrayを列名を"Numbers","Alphabets"としてデータフレームdfにしなさい。
    (3)(2)で作成したデータフレームdfの"Numbers"列を取り出し表示しなさい。
    (4)データフレームdfから"Alphabets"列を削除したものをdf2に代入し表示せよ。
    (5)df2をnumpyのarrayに変換し、df2_arr1に代入せよ。

In [44]:
#問題12
# pandas, numpy のimport
import pandas as pd
import numpy as np
#(1)１から10の整数列のarrayをarr1という名前で作成せよ
arr1 = np.arange(1,11)
#"A"から"J"のアルファベットの文字列のarrayをarr2という名前で作成せよ。
arr2 = np.array(["A","B","C","D","E","F","G","H","I","J"])
#(2)(1)で作成したarr1,arr2を列名を"Numbers","Alphabets"としてデータフレームdfにしなさい。
df = pd.DataFrame({"Numbers":arr1,"Alphabets":arr2})
#(3)(2)で作成したデータフレームの"Numbers"列を取り出し表示しなさい。
print(df["Numbers"])
#(4)データフレームから"Alphabets"列を削除したものをdf2に代入し表示せよ。
df2 = df.drop("Alphabets",axis=1)
print(df2)
#(5)df2をnumpyのarrayに変換し、df2_arr1に代入し、表示せよ。
df2_arr1 = df2.to_numpy()
print(df2_arr1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Numbers, dtype: int64
   Numbers
0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
[[ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]]

### 行に対するデータフレームの操作

データフレームの先頭を取得するにはhead(n)メソッドを使います。nは取得する行数です。

    sample_df.head(n)

In [36]:
# sample_dfの先頭3行を表示
print(sample_df.head(n=3))

   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C

データフレームの末尾を取得するにはtail(n)メソッドを用います。

    sample_df.tail(n)

In [37]:
# sample_dfの最後の3行を表示
print(sample_df.tail(3))

   col1  col2 col3
2     3     6    C
3     4     8    D
4     5    10    E

もっと柔軟にデータの抽出を行うにはquery()メソッドを使います。最初の1行を取り出すなら

    sample_df.query("index=0")

とします。

In [38]:
# queryメソッドを使ってsample_dfの最初の1行（0行目）を取り出し表示しなさい
print(sample_df.query("index==0"))

   col1  col2 col3
0     1     2    A

2行目より後ろの行なら

    sample_df.query("index>0")


とします。

In [39]:
# queryメソッドを使って2行目以降を取り出し表示しなさい
print(sample_df.query("index>0"))

   col1  col2 col3
1     2     4    B
2     3     6    C
3     4     8    D
4     5    10    E

col3という列がAの行を取得する場合、

    sample_df.query('col3=="A"')

とします。

In [40]:
print(sample_df.query('col3=="A"'))

   col1  col2 col3
0     1     2    A

複数の条件を指定することもできます。「col3列がAまたはＤ」という条件で取り出すなら

In [41]:
print(sample_df.query('col3=="A" | col3=="D"'))

   col1  col2 col3
0     1     2    A
3     4     8    D

「col3列がAであり、かつ、col1列が3」という条件で抽出なら

In [42]:
print(sample_df.query('col3=="A" & col1==3'))

Empty DataFrame
Columns: [col1, col2, col3]
Index: []

データフレームsample_dfにはこの条件に合致する行がありません。

最後に、「col3列がAの行で、col2,col3列のみ」を取り出してみます。

In [43]:
print(sample_df.query('col3=="A"')[["col2","col3"]])

   col2 col3
0     2    A


### 問題13

    (1)１から6の整数列,1から6の整数列の二乗のと"A"から"F"のアルファベットの文字列のarrayを作成せよ。
       名前をarr1,arr2,arr3とする。
    (2)(1)で作成したarrayを列名を"Numbers","Squares","Alphabets"としてデータフレームdf3にしなさい。
    (3)(2)で作成したデータフレームdf3で第1列が3以上の行を取得しなさい。
    (4)(2)で作成したデータフレームdf3で第1列が3以上の行の第2列、第3列を取り出し表示しなさい。

In [47]:
#問題13
# pandas, numpy のimport
import pandas as pd
import numpy as np
#(1)１から6の整数列,1から6の整数列の二乗のと"A"から"F"のアルファベットの文字列のarrayを作成せよ。
# 名前をarr1,arr2,arr3とする。
arr1 = np.arange(1,7)
arr2 = np.power(arr1, 2)
arr3 = np.array(["A","B","C","D","E","F"])
#(2)(1)で作成したarrayを列名を"Numbers","Squares","Alphabets"としてデータフレームdf3にしなさい。
df3 = pd.DataFrame({"Numbers":arr1,"Squares":arr2,"Alphabets":arr3})
#(3)(2)で作成したデータフレームdf3で第1列が3以上の行を取得し表示しなさい。
print(df3[df3["Numbers"]>=3])
#(4)(2)で作成したデータフレームdfで第1列が3以上の行の第2列、第3列を取り出し表示しなさい。
print(df3[df3["Numbers"]>=3][["Squares","Alphabets"]])

   Numbers  Squares Alphabets
2        3        9         C
3        4       16         D
4        5       25         E
5        6       36         F
   Squares Alphabets
2        9         C
3       16         D
4       25         E
5       36         F

### データフレームの結合

作成されたデータフレームを結合して新しいデータフレームを作ることができます。

まず、データフレームを２つ作ります。各々3行2列です。

In [48]:
df1=pd.DataFrame({'col1':np.array([1,2,3]),'col2':np.array(["A","B","C"])})
df2=pd.DataFrame({'col1':np.array([4,5,6]),'col2':np.array(["D","E","F"])})
print(df1)
print(df2)

   col1 col2
0     1    A
1     2    B
2     3    C
   col1 col2
0     4    D
1     5    E
2     6    F

この二つのデータフレームを縦方向につなげます。

pd.cancat()関数を使います。結果は6行2列のデータフレームになります。

In [49]:
print(pd.concat([df1,df2]))

   col1 col2
0     1    A
1     2    B
2     3    C
0     4    D
1     5    E
2     6    F

続いて、横方向に結合します。axis=1という引数をpd.concat()に追加します。結果は3行4列のデータフレームです。

In [50]:
print(pd.concat([df1,df2],axis=1))

   col1 col2  col1 col2
0     1    A     4    D
1     2    B     5    E
2     3    C     6    F


### 問題14

    (1)１から4の整数列,1から4の整数列の二乗のと"A"から"D"のアルファベットの文字列の3列からなる
    データフレームdf1を作成しなさい。列名は"col1","col2","col3"とします。
    (2)5から8の整数列,5から8の整数列の二乗のと"E"から"H"のアルファベットの文字列の3列からなる
    データフレームdf2を作成しなさい。列名は"col1","col2","col3"とします。
    (3)(1)(2)で作成したデータフレームを縦方向に結合し、表示しなさい。
    (4)(1)(2)で作成したデータフレームを横方向に結合し、表示しなさい。

In [51]:
#問題14
# pandas, numpy のimport
import pandas as pd
import numpy as np
#(1)１から4の整数列,1から4の整数列の二乗と"A"から"D"のアルファベットの文字列の3列からなるデータフレームdf1を作成しなさい。列名は"col1","col2","col3"とします。
arr1 = np.arange(1,5)
arr2 = np.power(arr1, 2)
arr3 = np.array(["A","B","C","D"])
df1 = pd.DataFrame({"col1":arr1,"col2":arr2,"col3":arr3})
#(2)5から8の整数列,5から8の整数列の二乗のと"E"から"H"のアルファベットの文字列の3列からなるデータフレームdf2を作成しなさい。列名は"col1","col2","col3"とします。
arr1 = np.arange(5,9)
arr2 = np.power(arr1, 2)
arr3 = np.array(["E","F","G","H"])
df2 = pd.DataFrame({"col1":arr1,"col2":arr2,"col3":arr3})
#(3)(1)(2)で作成したデータフレームを縦方向に結合し、表示しなさい。
df_vertical = pd.concat([df1,df2], axis=0)
print(df_vertical)
#(4)(1)(2)で作成したデータフレームを横方向に結合し、表示しなさい。
df_horizontal = pd.concat([df1,df2], axis=1)
print(df_horizontal)

   col1  col2 col3
0     1     1    A
1     2     4    B
2     3     9    C
3     4    16    D
0     5    25    E
1     6    36    F
2     7    49    G
3     8    64    H
   col1  col2 col3  col1  col2 col3
0     1     1    A     5    25    E
1     2     4    B     6    36    F
2     3     9    C     7    49    G
3     4    16    D     8    64    H

## 2. pandasを使ったデータ読み込み

pandasでは身近なcsv形式やExcel形式から普段あまり使用しないjson形式のデータまで様々なデータを読み込むことが可能です。

今回は医療費データを読み込んでみます。

このデータは保険会社が医療費の予測を行うために用いられているものです。

Excelで開いてデータの概要を確認しましょう。次の内容をもつ1338件のデータです。

$$
\begin{array}{|c|c|}
\hline 
    列名 & 内容 \\
\hline    
    \mbox{age} & \mbox{受益者の年齢} \\
    \mbox{sex} & \mbox{保険加入者の性別} \\　
    \mbox{bmi} & \mbox{体格指数.18.5から24.9が理想的な値.}\\
    \mbox{children} & \mbox{子・扶養者の数（整数）}\\
    \mbox{smoker} & \mbox{日常的に喫煙するかどうかのカテゴリー変数} \\
    \mbox{region} & \mbox{アメリカ国内の居住地.東北、南東、南西、北西の4地域}\\
    \mbox{charges} & \mbox{医療費} \\
\hline    
\end{array}    
$$

csv形式のデータに関しては、カンマで区切られたデータの横一列を「行」と呼びます。先頭行はヘッダーと呼びます。

read_csv()関数を使用して、データをDataFrameオブジェクトに読み込むことができます。

作業中のフォルダ・ディレクトリにデータがある場合は、次のようにしてデータを読み込みます。

    pd.read_csv('ファイル名')

read_csv()関数には様々に引数が存在し、読み込むデータの形式や形状により任意の引数を指定します。

ここではデータ分析の際によく用いる引数をいくつか紹介します。

読み込むデータの文字コードがshift_jisを含むものであれば、読み込み時に適切な文字コードに対応させる必要があります。
その場合は引数encodingに読み込むべき文字コードを指定することで、適切に読み込むことが可能となります。
OSがWindowsの場合などで指定することが多い引数となっています。

    df = pd.read_csv("ファイル名",encoding='shift_jis')

特定の列をインデックスとして読み込むためには、引数index_colに列名または列の位置番号を指定します。時系列のデータを扱う際に日付のデータをインデックスとして読み取る場合などがあります。列の位置番号は0始まりであることに注意してください。

引数usecolsに列名のリストを指定することで列名を絞って読み込むことができます。

    df = pd.read_csv("ファイル名",usecols=列名のリスト)

---

### 補足　Google Colaboratoryの場合以下の操作が必要です。

- Jupyer HUBのプログラミング環境を用いている場合はマウントは必要ありません。

　　データファイルをJupyter HUBのホームディレクトリにUPするだけです。

　　以下はスキップして次に進んでください。

- Google のマイドライブのマウント

![マウント.png]()



1. ブラウザの左端にフォルダのアイコンがあると思います。それをクリックして開いてください。

    Colabo.はクラウド上に仮想のLinuxパソコンを動かし、仮想LinuxパソコンでPythonのプログラムを実行するものです。
    そのため、Goooleのマイドライブと仮想Linuxパソコンのドライブを接続しないと、GoogleのマイドライブのファイルをColabo.から処理することはできません。
    このドライブの接続のことを"マウントする"といいます。

    フォルダのアイコンをクリックして開いた先に、4つのアイコンが横に並んでいると思います。
    そのうち、左から3番目のアイコンがマウントとマウントの解除のボタンです。

    マウントされていないときは、仮想Linuxパソコンのルートディレクトリ(..)と、
    sample_dataフォルダの二つのフォルダだけが表示されます。

2. マウントを実行します。すると、Googleから接続の許可を求められます。そのときは、指示されたURLでパスワードをコピーし、そのパスワードで接続を許可します。

    マウントが成功すれば、sample_data以外にdriveフォルダも確認できるようになります。
    Googleのマイドライブは driveの下のフォルダです。

3. Colabo.にマウントされたマイドライブからinsurance.csvファイルを探し、パスというドライブ上の位置を示すものをコピーします。

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

以上、Google Colaboratoryでの準備でした。

---

#### 問題15

    (1)医療費データinsurance.csvをread_csv()関数で引数にファイルのURLを指定して変数df1に読み込み、先頭の2行を表示しましょう。
    (2)医療費データinsurance.csvをread_csv()関数で引数にファイルのURLと列は"sex","age","charges"に限定して変数df2に読み込み、先頭の2行を表示しましょう。

In [54]:
#問題15
# pandasをインポート
import pandas as pd
# (1)insuranceをread_csv()で変数df1に読み込みましょう
df1 = pd.read_csv('insurance.csv')
#先頭の2行を表示
print(df1.head(2))
# (2)insurance.csvの"age","sex","charges"の3列に限定してread_csv()で変数df2に読み込みましょう.
df2 = pd.read_csv('insurance.csv', usecols=['age', 'sex', 'charges'])
#先頭の2行を表示
print(df2.head(2))

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
   age     sex     charges
0   19  female  16884.9240
1   18    male   1725.5523

また、pandasはデータ読み込み時に各列のデータ型を自動的に推測します。
推測したデータ型はdtypes関数を用いることで確認できます。
データを読み込んだ変数dfの各列のデータ型を確認は次のようにします。  

    df.dtypes

#### 問題16

    df1の各列のデータ型を表示しましょう。

In [55]:
#問題16
#df1の各列のデータ型を表示しましょう。
print(df1.dtypes)

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

- "age","children"列は整数(int64)、"bmi","charges"は小数点数型(float64)になっているのが分かります。

- その他の列はobjectになっています。

- python object型とは文字列だけではなく、整数・浮動小数・リストなど全てがオブジェクトとなりますので、これら全てを格納することができる型ということになります。

### 型の指定

- pandasが自動的に読み込んだ型が想定通りでない場合もあります。

その場合はデータを読み込む際に、引数dtypeとして対象の列名とデータ型の辞書を指定します。例えば、保険データでsex列のみカテゴリー型にする場合、

    dtype={"sex":"category"}

とします。

全ての列を同一のデータ型で読み込みたい場合は、引数dtypeにデータ型を指定します。例えば文字型で読み込むなら

    dtype="str"

とします。

dtypeを適切に指定してデータを読み込むことで、メモリの節約にも繋がります。

医療費のデータの全列を文字型、sex,smoker,regionの列をデータ型categoryとして読み込み、データ型を確認してみましょう。

### 問題17

    (1)insurance.csvの全ての列の型をstr型に指定してdf1に読み込んでください。
    そして、各列のデータ型を確認しましょう。
    (2)insurance.csvのsex,smoker,regionをcategory型に、他の列は指定せずにdfに読み込んでください。
    そして各列のデータ型を確認しましょう。

In [57]:
#問題17
# pandasをインポート
import pandas as pd
# (1)insuranceを全ての列の型をstr型に指定して変数df1に読み込みましょう
df1 = pd.read_csv('insurance.csv', dtype=str)
# df1の各列のデータ型を表示
print(df1.dtypes)
# (2)insurance.csvの"sex","smoker","region"の3列をcategory型に指定して変数df2に読み込みましょう.
df2 = pd.read_csv('insurance.csv', dtype={'sex': 'category', 'smoker': 'category', 'region': 'category'})
#dfの各列のデータ型を表示
print(df2.dtypes)

age         object
sex         object
bmi         object
children    object
smoker      object
region      object
charges     object
dtype: object
age            int64
sex         category
bmi          float64
children       int64
smoker      category
region      category
charges      float64
dtype: object

#### 補足

- Excel形式のデータも同様にread_excel()関数を使用して、データをDataFrameオブジェクトに読み込むことができます。

- csvファイルの先頭行が列名となっていず、データの場合、header=Falseのオプションを指定します。

  このオプションを指定しないと、先頭行を列名と勘違いし、次の行からをデータとして読み込んでしまいます。

以上で基本的なデータ読み込みの方法を紹介しました。

次は実際にデータを表示してみて、データ概要を確認しましょう。

### 注意

以下、dfには問題17(2)で作成したデータフレームが格納されているものとします。または、次のセルを実行しても同じです。

In [53]:
#WEB上のcsvデータを読み込んでデータフレームとする。
import pandas as pd
import urllib.request
from io import StringIO
#WEB上のデータのURLを指定
url = "https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv"
#データを読み込む関数を定義
def read_csv(url):
    print(url)
    res = urllib.request.urlopen(url)
    res = res.read().decode("utf-8")
    df = pd.read_csv(StringIO(res))
    return df
df=read_csv(url)
df= df.astype({"sex":"category","smoker":"category","region":"category"})
print(df.dtypes)

https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv
age            int64
sex         category
bmi          float64
children       int64
smoker      category
region      category
charges      float64
dtype: object

## 3. データの確認

データ分析の第一歩は注意深くデータを確認することです。
実際に医療費のデータを確認してみましょう。

以下、データを読み込んだ変数をdfとします。また、変数のことを一般にオブジェクトと呼びます。

head関数によりdfの先頭n行を参照することができます。
また、nの値を指定せずにhead()とした場合はn=5とした先頭5行を表示します。

    df.head(3)


tail関数によりdfの末尾n行を参照することができます。
head関数と同様にnの値を指定せずにtail()とした場合はn=5として末尾5行を表示します。

    df.tail(3)

全データを出力するには、dfをコマンドセルに打ち込んで実行します。

    df

### 各列の要素の確認とカウント

各列のユニークな要素のリストを表示したい場合は、unique 関数を用います。
ユニークな要素の値とその出現回数を表示したい場合は、value_counts関数で得ることができます。

医療費のデータの列"sex"のユニークな要素の値と出現回数を見てみましょう。

    df['sex'].value_counts()

出現回数を正規化し、割合として表示したい場合はvalue_counts関数の引数normalizeにTrueを渡しましょう。

    df['sex'].value_counts(normalize=True)

In [59]:
df["sex"].unique()

['female', 'male']
Categories (2, object): ['female', 'male']

In [60]:
df["sex"].value_counts()

male      676
female    662
Name: sex, dtype: int64


#### 問題18

医療費データを読み込んだデータフレームオブジェクトをdfとします。

    (1)dfの先頭3行、後ろの3行を表示しましょう。
    (2)dfの"sex","smoker","region"列のユニークな要素と割合を調べましょう。

In [61]:
#問題18
# (1)dfの先頭3行を表示
print(df.head(3))
# (1)dfの後ろの3行を表示
print(df.tail(3))
# (2)sex列のユニークな要素と割合を調べる
print(df['sex'].value_counts(normalize=True))
# (2)smoker列のユニークな要素と割合を調べる
print(df['smoker'].value_counts(normalize=True))
# (2)region列のユニークな要素と割合を調べる
print(df['region'].value_counts(normalize=True))

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620
      age     sex    bmi  children smoker     region     charges
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603
male      0.505232
female    0.494768
Name: sex, dtype: float64
no     0.795217
yes    0.204783
Name: smoker, dtype: float64
southeast    0.272048
northwest    0.242900
southwest    0.242900
northeast    0.242152
Name: region, dtype: float64

### データのサイズの確認

　　データの行数や列数、どのような性質を持つ列であるかを確認しましょう。

　　下記で説明する関数はデータ形式を確認する際によく使用するのでできれば覚えてしまいましょう。

　　読み込んだデータの大きさを確認するには、データフレームのshapeにアクセスします。

　　データの大きさは(行数,列数)というtuple型というデータ型で出力されます。


    df.shape

読み込んだデータの行数を確認するには、len()を用います。

    len(df)


または、shapeの出力の第0成分です。

    df.shape[0]

読み込んだデータの要素数を確認するには、sizeにアクセスします。
これは行数 * 列数に等しい値となります。
医療費のデータに関しては、(行数,列数)が(1338, 7)となるので要素数は9366となります。

    df.size

読み込んだデータの列名を取得するには、columnsにアクセスします。

    df.columns

### 問題19

    (1)医療費のデータの列数、データ数、行数を出力してください。
    (2)医療費のデータの列名リストをcols_listに代入してください。

In [63]:
#問題19
# (1)列数を表示
print(df.shape[1])
# (1)行数を表示
print(len(df)) # lenで計算
print(df.shape[0]) # shapeで計算
# (1)データ数を表示
print(df.size)
# (2)列名リストをcols_listに代入して表示
cols_list = df.columns
print(cols_list)

7
1338
1338
9366
Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')


### ヒント  

- 列の大きさをlen()を用いて確認することで、データの列数を抜き出すことも可能です。

    len(df.columns)



- 列数は下記の記述の仕方でも確認することができます。

    print(df.shape[1]）    



- データのcolumnsにアクセスすることで、列名を取得することが可能です。

    df.columns

### データの並び替え

データの要素や列名を元に並び替えを行い、データの確認を行いましょう。

 データの要素の値に応じてソートするにはsort_values()を用います。 ソートしたい列名を引数byに指定することで、ソートすることが可能となります。 また、ソート順はデフォルトは昇順です。降順にしたい場合は引数ascendingをFalseにしましょう。

ソートしたい列名、ソート順については複数指定可能です。複数指定したい場合は、引数をリストで指定しましょう。

医療費のデータを"charges"（医療費）の降順で先頭3件表示してみましょう。

In [64]:
df.sort_values(by="charges",ascending=False).head(3)

      age     sex     bmi  children smoker     region      charges
543    54  female  47.410         0    yes  southeast  63770.42801
1300   45    male  30.360         0    yes  southeast  62592.87309
1230   52    male  34.485         3    yes  northwest  60021.39897


医療費の降順にソートされていることが確認できました。bmiを見ると肥満の傾向があり（30以上）、smokerを見ると喫煙者でもあることが分かります。

ソートされたデータのインデックスを確認すると、543−1300−1230と元のインデックスを保持していることも確認できます。ソート順で新たにインデックスを振り直したい場合は、reset_index()を用います。元々のインデックスが不要である場合は、drop=Trueと引数を指定してください。

また、ソートする列に欠損値NaN（Not a Number）が含まれている場合は、欠損値が含まれるレコードは末尾に集約されます。

欠損値が含まれるレコードを先頭に集約してソートしたい場合はna_position='first'と引数を指定してください。

このように、pandasで読み込んだデータに対して条件を指定することで様々な観点からデータを確認することが可能となります。

問題を通して、さらに様々な観点からデータを確認してみましょう。

### 問題20

    医療費のデータフレームdfを用いて以下の解析を行う.
    (1)"age"列について降順でソートし、先頭10行を確認せよ。
    (2)"bmi"列について降順でソートし、先頭10行を表示せよ。

In [65]:
#問題20
# (1)"age"列について降順でソートし、先頭10行を確認せよ。
print(df.sort_values('age', ascending=False).head(10))
# (2)"bmi"列について昇順でソートし、先頭10行を表示せよ。
print(df.sort_values('bmi').head(10))

      age     sex     bmi  children smoker     region      charges
335    64    male  34.500         0     no  southwest  13822.80300
603    64  female  39.050         3     no  southeast  16085.12750
752    64    male  37.905         0     no  northwest  14210.53595
1265   64    male  23.760         0    yes  southeast  26926.51440
534    64    male  40.480         0     no  southeast  13831.11520
328    64  female  33.800         1    yes  southwest  47928.03000
768    64  female  39.700         0     no  southwest  14319.03100
1241   64    male  36.960         2    yes  southeast  49577.66240
62     64    male  24.700         1     no  northwest  30166.61817
801    64  female  35.970         0     no  southeast  14313.84630
      age     sex     bmi  children smoker     region      charges
172    18    male  15.960         0     no  northeast   1694.79640
428    21  female  16.815         1     no  northeast   3167.45585
1226   38    male  16.815         2     no  northeast   6640.54485
412    26  female  17.195         2    yes  northeast  14455.64405
1286   28  female  17.290         0     no  northeast   3732.62510
1029   37  female  17.290         2     no  northeast   6877.98010
250    18    male  17.290         2    yes  northeast  12829.45510
28     23    male  17.385         1     no  northwest   2775.19215
680    21  female  17.400         1     no  southwest   2585.26900
410    19    male  17.480         0     no  northwest   1621.34020

### データの選択を行う

ここまではデータをそのままの形で確認したり、全体に対してデータの並び替えを行ってきました。今回はある条件のデータを抽出し確認する方法を紹介します。

データの「列」での取り出し方と「行」での取り出し方を説明します。

#### 1.列での取り出し方

読み込んだデータから特定の列のみ取り出したい場合は、DataFrameの後に列名を渡します。複数指定したい場合は、列名のリストを渡してください。
医療費のデータから"charges"のみを取り出してみましょう。

In [66]:
df["charges"]

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

医療費のデータから"charges"と"bmi"を取り出してみましょう。

In [67]:
df[['charges','bmi']]

          charges     bmi
0     16884.92400  27.900
1      1725.55230  33.770
2      4449.46200  33.000
3     21984.47061  22.705
4      3866.85520  28.880
...           ...     ...
1333  10600.54830  30.970
1334   2205.98080  31.920
1335   1629.83350  36.850
1336   2007.94500  25.800
1337  29141.36030  29.070

[1338 rows x 2 columns]

なおDataFrameから1列もしくは1行のデータを取り出す場合のデータ型はSeries型、 複数列もしくは複数行のデータを取り出す場合のデータ型はDataFrame型となります。 また、型を取得するには、typeを用います。

出力データの型や変数の型がどうなっているのかを確認する際に、頻繁に用いるので覚えてしまいましょう。

上記の出力結果の型をtypeを用いて確認してみましょう。

In [68]:
print(type(df['charges']))
print(type(df[['charges','bmi']]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

#### 2.行での取り出し方

読み込んだデータから特定の行のみを位置番号を用いて取り出したい場合は.iloc[]を使用します。

位置番号を0始まりで指定し、単一行の出力結果はSeries型、複数行の出力結果はDataFrame型となります。

1行目のデータを取得する場合は、位置番号に0を指定することに注意しましょう。

医療費のデータの先頭行(1行目)を.iloc[]を用いて抽出します。

    df.iloc[0]

複数行を抽出する際には取得したい行のリストを渡します。

医療費のデータの1行目と4行目のデータを抽出します。

    df.iloc[[0,3]]

.iloc[]では、行の位置番号だけではなく、列の位置番号も指定することができます。

次で医療費のデータの1行目と4行目かつ、2列目と5列目のデータを抽出します。 

    df.iloc[[0,3],[1,4]]

Pythonにはスライスというシーケンス（リスト、文字列、タプル、バイト列）の一部分を切り取ってコピーを返してくれる仕組みがあります。

始点と終点のインデックスを:（コロン）を挟む形で指定し、
インデックスが始点から終点までのデータを全て指定することを意味します。

.iloc[]の位置番号の指定の際にもスライスを用いることができます。

- dfのデータの1行目から4行目のデータをスライスを用いて抽出します。

    df.iloc[0:4]    

- dfのデータの2列目と5列目のデータを抽出します。 

    df.iloc[:,[1,4]]

### 問題21

    医療費のデータフレームdfを用いて以下の解析を行います.
    (1)dfの"charges"と"region"の列を抽出し、df1に代入してください。
    (2)dfの1−2行目と5行目を抽出し、df2に代入してください。
    (3)dfの3行目のデータを抽出し、Series型としてser3に代入してください。

In [69]:
#問題21
# dfの列名一覧
print(df.columns)
# (1)dfの"charges"と"region"以外の列を抽出し、df1に代入してください。df1の先頭2行を表示してください。
df1 = df[df.columns.difference(['charges', 'region'])]
print(df1.head(2))
# (2)ilocを用いてdfの1−2行目と5行目を抽出し、df2に代入してください。df2を表示してください。
df2 = df.iloc[[1, 2, 5]]
print(df2)
# (3)ilocを用いてdfの3行目のデータを抽出し、Series型としてser3に代入してください。
ser3 = df.iloc[3]
print(ser3)
print(type(ser3))

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')
   age    bmi  children     sex smoker
0   19  27.90         0  female    yes
1   18  33.77         1    male     no
   age     sex    bmi  children smoker     region    charges
1   18    male  33.77         1     no  southeast  1725.5523
2   28    male  33.00         3     no  southeast  4449.4620
5   31  female  25.74         0     no  southeast  3756.6216
age                  33
sex                male
bmi              22.705
children              0
smoker               no
region        northwest
charges     21984.47061
Name: 3, dtype: object
<class 'pandas.core.series.Series'>

### ヒント

- DataFrameの後に列名のリストを渡すことで複数列を抽出することが可能です。

- .iloc[]を用いて、1行目のデータを取得する場合は位置番号に0を指定することに注意しましょう。

    df.iloc[[0,1,...,99]]

- 3行目は行番号で考えると2になり、"charges"と"region"は列の位置番号で考えると6と5になることに注意しましょう。

    df.iloc[2]