### 学籍番号、氏名を入力せよ

- 学籍番号：
- 氏名:

---

# Python入門：処理のくり返し

## 反復処理

for文/while文も、if文と同様にプログラミングにおいて大事な考え方の一つです。for文/while文によって同様の処理を指定した分だけ繰り返すことができ、使いこなせば非常に効率的に処理を完遂することができます。

### while文

反復処理の中でもwhile文の基本的な書き方は、if文とほとんど同じです。

![image.png]()


while 条件文:(コロン)の後にインデントに注目して処理内容を記述します。if文と記述方法は似ていますがwhile文では、条件文がTrueである限り処理が繰り返し実行されます。

以下のサンプルコードを例に考えてみましょう。まず、実行してみてください。

In [1]:
#変数定義
step = 1
print(step)
#条件文
while step <4 :
    #処理内容
    step += 1
    print(step)
print(step)

1
2
3
4
4

- まずここでは変数stepが用意されています。

- while文内の条件文ではstepが4より小さいかどうかを判断し、条件文がTrue（stepが4より小さい）ならば処理内容が実行されます。

- 処理内容ではstepが1ずつ増えます。

- 増えたstepを再び条件文で確認し、Trueならば繰り返し処理が行われます。

- もしもFalseならばwhile文は終了となりprint(step)のコマンドに移ります。

#### サンプルコードについて

- 最初はstep = 1でスタートします。

- ループ1 :

    【条件文】True（step = 1は4より小さい）

    【処理内容】step = 1 + 1

- ループ2 :

    【条件文】True（step = 2は4より小さい）

    【処理内容】step = 2 + 1

- ループ3 :

    【条件文】True（step = 3は4より小さい）

    【処理内容】step = 3 + 1

- ループ4 :

    【条件文】False（step = 4は4と等しい）

    【処理内容】行われません

- 最終的に、step = 4となり出力されます。

条件文に注意しながらwhile文を記述しanswer_list=[0,1,2,3]を出力するように次のプログラムを完成させましょう。

### 問題1

    (1)while文に、変数stepが4以上となった時にFalseとなるような条件文を付けましょう。
    (2)while文の中の処理として、stepの値をappend関数を用いてリストの変数answer_listに追加しましょう。
    (3)answer_listを出力し、リストの値が[0,1,2,3]となっているか確認しましょう。

In [3]:
#問題1
#変数の定義
step = 1
answer_list = [0]
# 条件文
# stepが4以上となるまで繰り返しが行われる
while step < 4:

    # 処理内容
    # answer_listにstepを加える
    answer_list.append(step)
    # stepを1つ増やす
    step += 1
#answer_listを出力
print(answer_list)

[0, 1, 2, 3]

### ヒント

- stepは1から始まりstepの値が4より小さいうちはappend関数によってanswer_listの要素として加えられていきます。

- 追加はリスト.append (要素名)を使い今回ではリストはanswer_list要素名ではstepが対応します。

- append関数の後にstep+1をした値が新たなstepに上書き保存されます。

- 以上の処理が繰り返され、条件文がFalseとなった時while文の処理は止まり、初めて完成したanswer_listが出力されます。

#### 注意

while文は条件文がTrueの限りずっとループしてしまうので、必ずFalseになるよう注意して使う必要があります。
後で説明するif文とbreakを組み合わせて、ループを中断する設定を組み込む方法もあります。

### for文

![image.png]()



for文の基本的な書き方は、

    for a in [0,1,2]:
            処理

というように、for 要素 in リスト:(コロン)の後に改行し、インデントの後に処理内容を記述します。

こうすることで、まずaに0が代入されて処理が実行され、次にaに1が代入されて処理が実行され、最後にaに2が代入されて処理が実行されます。


### 問題2

    for文を使って、数学の点数のリストが代入された変数scores_math
    からそれぞれの点数を出力しましょう。
    またそれぞれの点数を変数totalに足し、合計を計算しましょう。

In [4]:
#問題2
# 定義
scores_math = [43,55,78,39,84]
total = 0

# for文を使ってみよう
for score in scores_math:
    total += score

print(total)

299

##### ヒント

- 今回のリストはscores_mathですので、in 後のリストにはscores_mathが入ります。

- また要素を取り出す際は任意の変数を使えます。

#### 補足　

今回はリストの要素にアクセスしfor文を用いましたが、文字列や辞書に対してもfor文は使用されます。
for文内の処理は単純な出力と計算ですが、if文などと組み合わせる事で、条件を満たす要素だけに処理を行うこともできます。

### indexの取得

for文では対象のリストにenumerate関数を用いる事で、リストの要素だけでなくその要素のインデックスを同時に取得することができます。

    for インデックス, 要素 in enumerate(リスト):
        処理

次の例では先ほどの英語の点数のリストを例に、enumerate関数によってインデックスと要素の両方に対して処理が行われます。

    # リストの定義
    score_english = [62,48,33,89,91]

    # 英語の点数
    for index, score in enumerate(score_english):
        result = 'student ID No.' + str(index)+' : '+str(score)
        print(result)

変数resultは、出力が見やすいようにインデックスと得点を１つの文字列としてまとめたものになっています。ここで忘れてはいけないのがindex、scoreはどちらも数値型であるためstr関数による型の統一することです。


### 問題3

    for文内の空欄を埋める事で、数学の点数からなるリストの変数
    scores_mathに対してenumerate関数を使い、
    インデックスと要素を組み合わせた文章を
    「student ID No.[インデックス] : [要素]」
    というフォーマットで出力しましょう。

In [6]:
#問題3
# リストの定義
scores_math = [43,55,78,39,84]
# for文を使ってみよう
for i, score in enumerate(scores_math):
    result  = 'student ID No.'+str(i)+' : '+str(score)
    print(result)

student ID No.0 : 43
student ID No.1 : 55
student ID No.2 : 78
student ID No.3 : 39
student ID No.4 : 84

### ヒント

- for インデックス, 要素 in enumerate(リスト):に対してインデックスindex、要素score、リストscores_mathを対応させましょう。

- 変数resultに代入する際に数値型であるindexとscoreを文字列型に変換することを忘れないようにしましょう。

- 文字列内の空白やスペルミスにも注意してください。

### range関数

for文内の処理を指定した回数分だけ繰り返したい時にはrange関数を用います。


    for i in range(数値):
        処理


数値を3とすると、iは0、１、２と値を取りfor文内で順に処理されます。
以下の例では、英語の点数のリストを指定した回数分だけfor文の処理が行われています。ここではrange(2)とあるので、左端の２人分が表示されます。

    # リストの定義
    scores_eng = [62,48,33,89,91]

    # 英語の点数;最初の2人の点数だけ表示
    for i in range(2):
        result = 'student ID No.'+str(i)+' : '+str(scores_eng[i])
        print(result)

### 問題4

    数学の点数からなるリストの変数scores_mathにおいて、左端から４人までの点数を出力しましょう。
    またstudent ID No.1から始まるように、indexの計算も工夫しましょう。

In [8]:
#問題4
# リストの定義
scores_math = [43,55,78,39,84]
# 数学の点数;最初の4人の点数だけ表示
# for文を使ってみよう
for i, score in enumerate(scores_math):
    result = 'student ID No.' + str(i+1) + ' : ' + str(scores_math[i])
    print(result)

student ID No.1 : 43
student ID No.2 : 55
student ID No.3 : 78
student ID No.4 : 39
student ID No.5 : 84

##### ヒント

- for i in range(4)によって、scores_math[i]はscores_mathのi番目の要素が左から順に4回取得できます。

- student ID No.1から始めるためには、'student ID No.'+str(i+1)+' : '+str(scores_math[i])として計算させる必要があります。

### for文における文字列型、辞書型

これまでリストを中心にfor文の処理を行ってきましたが、実は文字列や辞書型に対してもfor文は扱うことができます。
文字列はそれぞれの文字１つに対してfor文の処理が行われます。

    for i in 文字列:
        処理

処理部分をprint(i)とすれば文字列の文字が１つずつ出力されます。

辞書型の場合では、ラベルであるkeyとそれに対応する値のvalueとで、for文の扱い方が異なります。

    [keyに対するfor文]
      for i in 辞書.keys():
        処理

    [valueに対するfor文]
      for i in 辞書.values():
        処理

辞書の末尾にkeyであればkeys関数を、valueであればvalues関数を適用する必要があります。この関数によって辞書のkeyもしくはvalueの値がiに代入されます。

またkeyとvalueの両方を同時にfor文にかける場合には辞書.items()を使います。以下の場合、辞書のkeyがiに、valueがjに代入されます。

    for i, j in 辞書.items():
        処理


### 課題5

    (1)変数stringには文字列'Python'が代入されています。
    この文字列をfor文を使って１文字ずつ出力させるように、空欄を埋めましょう。 
    (2)変数名がcountries_areaの辞書型に対してkeyとvalueの両方を呼び出し、
    「key is value*1000 square kilometers」というフォーマットで出力させましょう。

In [9]:
#問題5
# 辞書、文字列の定義
string = 'Python'
countries_area = {'Russia' : 17098, 'Canada' : 9984, 'America': 9629, 'China' : 9596, 'Brazil' : 8514}
# 文字列にfor文を使う
for i in string:
    print(i)
# 辞書にfor文を使う
for key, value in countries_area.items():
    result = str(key) +' is '+ str(value*1000) + ' square kilometers'
    print(result)

P
y
t
h
o
n
Russia is 17098000 square kilometers
Canada is 9984000 square kilometers
America is 9629000 square kilometers
China is 9596000 square kilometers
Brazil is 8514000 square kilometers

### ヒント

- for文によってstringの一文字ずつをiとして取得しましょう。for文内でiをprintすれば繰り返し出力することができます。

- for文によってcountries_area.items()からkeyとvalueを取得します。そして、key is value*1000 square kilometersとなる様に出力してください。

## 内包表記

Pythonではリストや辞書を簡単に作成する方法として内包表記があります。内包表記により、普通に記述すると複数行書かなくてはいけないプログラムを1行で書くことができます。

### for文/if文と内包表記

内包表記とは、if文やfor文の処理を一行の中で表記する方法であり、下記のように表現することができます。

for文で[0,1,2,3,4]のリストを作成した場合、

    num = [ ] #空のリストの用意
    for i in range(5):
        num.append(i)

となります。append関数はリスト用の関数であるため、値を持っていない空のリストを予め用意しています。

これらのコードは内包表記で書くと下記のようにスマートに表現することができます。

    num = [i for i in range(5)]

for文で使用されている変数(今回の例ではi)は計算することもでき、その場合は下記のように記述することができます。

    num = [i+1 for i in range(5)]

このときの変数numには[1,2,3,4,5]が代入されます。

また、if文と組み合わせることもでき、その場合は下記のように記述することができます。

    num = [i for i in range(5) if i%2==0]

ここで、i % 2はiを2で割った余りを表します。通常の割り算はi / 2と記述します。
上記の内包表記では変数numに[0,2,4]が代入されます。
 
上記のようにif文とfor文を組み合わせることで、「0から4までの整数の中から偶数のみをリスト化する」という処理を1行で記述することができました。

### 問題6

    (1)0から4までの数字の2乗を要素とするリストの変数squareを、内包表記で表し出力しましょう。
    (2)0から9までの数字で3で割り切れない数のリストの変数non_triを、内包表記で表し出力しましょう。

In [10]:
#問題6
# 0から4までの数字を2乗したリストの変数squareを、内包表記で作成しましょう
square = [x**2 for x in range(5)]
print(square)
# 0から9までの数字で3で割り切れない数のリストの変数non_triを、内包表記で作成しましょう
non_tri = [x for x in range(10) if x%3 != 0]
print(non_tri)

[0, 1, 4, 9, 16]
[1, 2, 4, 5, 7, 8]

### ヒント

- 0から4までの数を2乗した数のリストはsquare = [i**2 for i in range(5)]となります。

- 3で割り切れない時にリストに加えるので、[i for ~ in ~ if i%3 !=0]となります。

### リストの内包表記

リストに関しても、for文やif文の代わりに内包表記を使うことができます。

例えば、5人の英語テスト結果が代入されたリストの変数points_englishが存在したとき、50点未満の点数を抽出したい場合は、for文とif文を使って下記のように記述することができます。

    points_english = [62,48,33,89,91]
    lowpoints_english = []
    for point in points_english:
        if point < 50:
            lowpoints_english.append(point)

これを内包表記で表すと、下記のように短いコードで記述することができます。

    points_english = [62,48,33,89,91]
    lowpoints_english = [point for point in points_english if point < 50]

このときの変数lowpoints_englishには[48,33]が代入されます。

### 問題7

    変数points_mathに代入された数学の点数のうち、50点未満だけを取り出して、
    変数lowpoints_mathに代入しましょう。

In [11]:
#問題7
# リストの定義
points_math = [43,55,78,39,84]
# 数学の点数、50点未満の点数だけ取り出す
# 内包表記を使ってみよう
lowpoints_math = [x for x in points_math if x < 50]
print(lowpoints_math)

[43, 39]

##### ヒント

- 内包表記を使って表すと、lowpoints_math = [point (for文) (if文)]となります。

- for文のところはfor point in points_math、if文のところはif point < 50となります。